body {
    background-color: lightyellow;
}

.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.nav-list {
    list-style-type: none;

    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rosybrown;
    width: 100%;
    height: 80px;
    margin-top: -10px;
    margin-left: -10px;
    padding-right: 18px;
    

}

ul {
    list-style: none;
    
}

li {
    float: left;
    border-right: 1px solid white;
    
}

li a {
    display: block;
    color: lightyellow;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;    

}

li a:hover{
    background-color: palevioletred;
}

.cards {
    background-color: white;
    padding: 14px 16px;
    margin-left: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 100%;
    width: 250px;
    box-shadow: 5px 10px darkgray;
    border: 1px solid lightblue;
    
    /* float: left; */
}

article {

}

img {
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.availability {
    background-color: grey;
    color: yellow;
    margin-left: -16px;
    padding-left: 16px;
    width: auto;
    

    
    
} 

.index-foot {
    font-size: small;
    width: 100%;
    padding: 20px;
    float: inline-end;
    background-color: brown;
    text-align: center;
    color: white;
}

.card-title {
    display: block;
    width: 0%;
    background-color: white;
    padding: 14px 16px;
}

.prod-title {
    display: block;
    background-color: white;
    border: 1px solid lightblue;
    width: 100%;
    padding: 10px 15px;
    margin-left: -16px;
    margin-top: -14px;
    text-align: center;
    
}

.specifications {
    margin-bottom: 30px;
}

#nerds {
   
}

#abba {
    
}

#reeses {
    
}

#lifesavers {
    
}

.nav-title {
    float: inline-start;
    padding: 5px 16px;
    color: white;
}

