body {
    background-color: grey;
}

.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cards {
    background-color: darksalmon;
    padding: 14px 16px;
    margin-left: 150px;
    margin-top: 100px;
    height: fit-content;
    width: 250px;
    box-shadow: 5px 10px salmon;
    /* float: left; */
}

article {

}

img {
    height: 200px;
}

.availability {
    background-color: grey;
    color: yellow;
} 

footer {
    font-size: small;
}