body {
    background-color: grey;
}

.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cards {
    background-color: salmon;
    padding: 14px 16px;
    margin-left: 150px;
    height: 500px;
    width: 250px;
    /* float: left; */
}

article {
    
}